<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Adicionar Membro!</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/addMmebro.css}">
    <script src="https://kit.fontawesome.com/32a58e3aef.js" crossorigin="anonymous"></script>
</head>

<body>
    <div th:replace="fragment/menu :: menu"></div>
    <div id="main">
        <div th:replace="fragment/header :: header"></div>
        <div class="container">
            <h2 class="title">Enraizar</h2>
            <form th:action="@{/adicionar-membro/{id} (id=${membro.equipe.id})}" th:object="${membro}" method="post">
                <div class="field"><label for="">Funcionario:</label>
                    <select th:field="*{funcionario}">
                        <option th:each="f : ${funcionarios}" th:value="${f.id}"
                            th:text="${f.nome + ' ' + f.sobrenome}">
                        </option>
                    </select>
                </div>
                <div class="field"><input type="text" th:field="*{cargo}" placeholder="Cargo"></div>
                <button class="btn" type="submit">Adicionar membro!</button>
            </form>
        </div>
        <script th:src="@{/js/menu.js}"></script>
</body>

</html>