<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atualizar Equipe!</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/cadastro.css}">
    <script src="https://kit.fontawesome.com/32a58e3aef.js" crossorigin="anonymous"></script>

</head>

<body>
    <div th:replace="fragment/menu :: menu"></div>
    <div id="main">
        <div th:replace="fragment/header :: header"></div>
        <div class="container">
            <h2 class="title">Enraizar</h2>
            <form action="#" th:action="@{/editar-equipe/{id} (id=${equipe.id})}" th:object="${equipe}" method="post">
                <div class="field"><input type="text" th:field="*{nome}" id="nome" placeholder="Nome"></div>
                <div class="field"><input type="text" th:field="*{descricao}" id="descricao" placeholder="Descrição">
                </div>
                <input type="submit" class="btn" value="Editar Equipe!">
            </form>
        </div>
    </div>
    <script th:src="@{/js/menu.js}"></script>
</body>

</html>