<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Membros da Equipe!</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/membros.css}">
    <script src="https://kit.fontawesome.com/32a58e3aef.js" crossorigin="anonymous"></script>
</head>

<body>
    <div th:replace="fragment/menu :: menu"></div>
    <div id="main">
        <div th:replace="fragment/header :: header"></div>
        <div th:switch="${membros}" class="container">
            <h2 th:case="null">Não há membro na equipe!</h2>
            <div th:case="*">
                <div class="header">
                    <h2 th:text="'membros da equipe ' + ${membros[0].equipe.nome}"></h2>
                    <a th:href="@{/adicionar-membro/{id} (id=${membros[0].equipe.id})}">Adicionar membro</a>
                </div>
                <div class="lista">
                    <div th:each="m : ${membros}">
                        <div class="membros">
                            <p th:text="${m.funcionario.nome}"></p>
                            <p th:text="${m.cargo}"></p>
                            <a th:href="@{/atualizar-membro/{id} (id=${m.id})}">Editar!</a>
                            <a th:href="@{/deletar-membro/{id} (id=${m.id})}">Excluir!</a>
                                                
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script th:src="@{/js/menu.js}"></script>
</body>

</html>