<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Equipes!</title>
</head>

<body>
    <div th:switch="${equipe}">
        <h2 th:case="null">Nenhuma Equipe!</h2>
        <div th:case="*">
            <a th:href="@{/adicionar-equipes}">Adicionar Equipe!</a>
            <h2>Funcionarios!</h2>
            <table>
                <thead>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Criação</th>
                    <th>Alteração</th>
                </thead>
                <tbody>
                    <tr th:each="e : ${equipe}">
                        <td th:text="${e.id}"></td>
                        <td th:text="${e.nome}"></td>
                        <td th:text="${e.descricao}"></td>
                        <td th:text="${e.created_at}"></td>
                        <td th:text="${e.updated_at}"></td>
                        <td><a th:href="@{/equipe-membros/{id} (id=${e.id})}">Membros!</a></td>
                        <td><a th:href="@{/atualizar-equipe/{id} (id=${e.id})}">Editar!</a></td>
                        <td><a th:href="@{/deletar-equipe/{id} (id=${e.id})}">Excluir!</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>