<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
    <div th:replace="fragment/menu :: menu"></div>
    <div id="main">
        <div th:replace="fragment/header :: header"></div>
        <div class="container">
        </div>
    </div>
    <script th:src="@{/js/menu.js}"></script>
</body>

</html>