.top-header {
    position: fixed;
    /* Fixa o header no topo */
    top: 0;
    /* Alinha no topo */
    left: 0;
    /* Alinha à esquerda */
    width: 100%;
    /* Ocupa toda a largura da tela */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #75B694;
    color: white;
    height: 50px;

}

/* Logo + texto */
.logo-header {
    font-family: 'CascadiaCode';
    display: flex;
    align-items: center;
    font-size: 32px;
    color: white;
}

/* Tamanho e formato da logo */
.logo {
    padding-left: 2px;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

button {
    margin-right: 50px;
    border: none;
    background-color: transparent;
    color: #1d412e;
    font-size: 30px;
}